<div class="container">
  <div class="grid">
    <div class="col-12">
      <h1>Lançamentos</h1>
    </div>

    <div class="col-12">
      <label for="">Descrição</label>
      <input pInputText type="text" fluid />
    </div>

    <div class="col-5">
      <label for="">Vencimento</label>
      <input pInputText type="text" fluid />
    </div>

    <div class="col-4">
      <label for="">Até</label>
      <input pInputText type="text" fluid />
    </div>

    <div class="col-12">
      <p-button label="Pesquisar" />
    </div>
  </div>

  <app-lancamentos-grid [lancamentos]="lancamentos" ></app-lancamentos-grid>

  <div class="col-12">
      <button pButton [routerLink]="['/lancamento-cadastro']"  label="Novo"> </button>
    </div>
</div>
