<div class="container">
  <div class="grid">
    <div class="col-12">
      <h1>Pessoas</h1>
    </div>

    <div class="col-12">
      <label for="">Nome:</label>
      <input pInputText type="text" fluid />
    </div>

    <div class="col-12">
      <p-button label="Pesquisar"></p-button>
    </div>
  </div>

  <app-pessoas-grid [pessoas]="pessoas"></app-pessoas-grid>


    <div class="grid">
    <div class="col-12">
      <p-button [routerLink]="['/pessoa-cadastro']" label="Nova Pessoa" />
    </div>
    </div>

</div>
