/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Icones PrimeNG */
@import "primeicons/primeicons.css";

body {
  font-family: "Roboto", sans-serif;
  color: #404c51;
  margin: 0;
}

label {
  font-weight: bold;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}


.debug-grid > div {
  border: 1px solid red; /* Borda vermelha */
  background-color: rgba(255, 0, 0, 0.1); /* Fundo vermelho claro */

}


