/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Icones PrimeNG */
@import "primeicons/primeicons.css";

body {
  font-family: "Roboto", sans-serif;
  color: #404c51;
  margin: 0;
}

label {
  font-weight: bold;
}

.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1400px;
  }
}

.p-inputmask{
  width: 100% !important;
}



