<div class="container">
  <form action="">
    <div class="grid ">
      <div class="col-12">
        <h1>Novo lançamento </h1>

      <div class="col-12">
        <p-selectButton
          name="tipo"
          #tipo
          [options]="opcoes"
          [(ngModel)]="value"
          optionLabel="label"
          optionValue="value" />
        </div>
      </div>


      <div class="col-4 md:col-3 lg:col-2">
        <label >Vencimento</label>
        <p-date-picker fluid placeholder="dd/mm/yyyy"  dateFormat="dd/mm/yy" [showIcon]="true" [readonlyInput]="true" ></p-date-picker>
      </div>

      <div class="col-4 md:col-3 lg:col-2" [ngClass]="tipo.value === 'Receita'? 'Recebimento': 'Pagamento'">
        <label >{{ tipo.value === 'Receita'? 'Recebimento': 'Pagamento' }}</label>
        <p-date-picker fluid  placeholder="dd/mm/yyyy"  dateFormat="dd/mm/yy" [showIcon]="true" [readonlyInput]="true" ></p-date-picker>
      </div>
    </div>

    <div class="grid">
      <div class="col-8">
        <label for="">Descrição</label>
        <input pInputText type="text" fluid>
      </div>

      <div class="col-4">
        <label for="">Valor</label>
        <p-inputNumber
          placeholder="0.00"
          inputId="locale-user"
          mode="currency"
          currency="BRL"
          locale="pt-br" fluid/>
      </div>
    </div>

    <div class="grid">
      <div class="col-6">
        <label >Categoria</label>
      <p-dropdown name="categorias" [options]="categorias" [(ngModel)]="categorias.values" [filter]="true" placeholder="Selecione" fluid/>
      </div>

      <div class="col-6">
        <label >Pessoas</label>
        <p-dropdown name="pessoas" [options]="pessoas" [(ngModel)]="pessoas.values" [filter]="true" placeholder="Selecione" fluid/>
      </div>
    </div>

    <div class="grid">
      <div class="col-12">
        <label >Descrição</label>
        <textarea placeholder="Descrição" rows="5" cols="25" pTextarea fluid [autoResize]="true"></textarea>
      </div>
    </div>

    <button pButton class="button-submit" >Salvar</button>
    <button pButton class="button-submit" severity="info">Novo</button>
    <a [routerLink]="['/lancamentos-pesquisa']">Voltar para pesquisa</a>
  </form>
</div>
