<div class="container">
  <form action="">
    <div class="grid ">
      <div class="col-12">
        <h1>Novo lançamento </h1>
      </div>

      <div class="col-4 md:col-3 lg:col-2">
        <label for="">Vencimento</label>
        <p-calendar fluid placeholder="dd/mm/yyyy"  dateFormat="dd/mm/yy" [showIcon]="true" [readonlyInput]="true" ></p-calendar>
      </div>

      <div class="col-4 md:col-3 lg:col-2">
        <label for="">Recebimento</label>
        <p-calendar fluid  placeholder="dd/mm/yyyy"  dateFormat="dd/mm/yy" [showIcon]="true" [readonlyInput]="true" ></p-calendar>
      </div>
    </div>

    <div class="grid">
      <div class="col-8">
        <label for="">Descrição</label>
        <input pInputText type="text" fluid>
      </div>

      <div class="col-4">
        <label for="">Valor</label>
        <p-inputNumber
          placeholder="0.00"
          inputId="locale-user"
          mode="currency"
          currency="BRL"
          locale="en-US" fluid/>
      </div>
    </div>

    <div class="grid">
      <div class="col-6">
        <label >Categoria</label>
        <input type="text"pInputText fluid="">
      </div>

      <div class="col-6">
        <label >Categoria</label>
        <input type="text"pInputText fluid="">
      </div>
    </div>

    <div class="grid">
      <div class="col-12">
        <label >Descrição</label>
        <textarea placeholder="Descrição" rows="5" cols="25" pTextarea fluid [autoResize]="true"></textarea>
      </div>
    </div>

    <button pButton class="button-submit" >Salvar</button>
    <button pButton class="button-submit" severity="info">Novo</button>
    <a [routerLink]="['/lancamentos-pesquisa']">Voltar para pesquisa</a>
  </form>
</div>
